<!doctype html>
<html lang="en">
    <head>
        <title>{% block tpl_title %} OpenMFE · {{ title }}{% endblock %}</title>
        {% block tpl_head %}
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="stylesheet" href="/_assets/css/main.css">
            <script src="/_assets/js/main.js" defer></script>
            <meta name="description" content="{{ summary }}">
            <link rel="icon" href="/_assets/images/favicon.png" type="image/x-icon">
        {% endblock %}
    </head>
    <body>
        <div class="page">
            {% block tpl_header %}
            <header>
                <div class="wrapper">
                    <p>
                        <img src="/_assets/images/icon.svg" width="32" height="26">
                        <span>OpenMFE</span>
                    </p>
                    <ul class="main">
                       <li>
                        <a href="/">Home</a>
                       </li>
                        {% for idx, nav in navigation %}

                        <li tabindex="-1"{% if nav.permalink === page.url %} class="current"{% endif %}>
                            <a href="{{ nav.permalink }}">{{ nav.title }}</a>

                            {% if nav.children | length %}
                            <ul>
                                {% for i, pg in nav.children %}
                                <li tabindex="-1"{% if pg.permalink === page.url %} class="current"{% endif %}>
                                    <a href="{{ pg.permalink }}">{{ pg.title }}</a>
                                </li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ul>
                    <p class="social">
                        <a href="https://github.com/openmfe/" title="Github repository" target="_blank">Github repository</a>
                    </p>
                </div>
            </header>
            {% endblock %}

            {% block tpl_main %}
            <main>
                <div class="title">
                    <div class="block">
                        <h1>{{ h1 or title }}</h1>
                        {% if summary -%}
                            <p>{{ summary | safe }}</p>
                        {%- endif %}
                    </div>
                </div>
                {% block tpl_content %}
                    <div class="wrapper">
                        {{ content | safe }}
                    </div>
                {% endblock %}
            </main>
            {% endblock %}

            {% block tpl_footer %}
            <footer>
            </footer>
            {% endblock %}
        </div>
    </body>
</html>
