:root {
    --base-font-size: 1rem;
}

* {
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-family: nunito, Arial, sans-serif;
    line-height: 1em;
    font-style: normal;
    box-sizing: border-box;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1 {
    margin: 0 0 2.5rem;
    font-size: calc(var(--base-font-size) * 2.6);
}

h2 {
    margin: 2.5rem 0 1.2rem;
    font-size: calc(var(--base-font-size) * 1.8);
}

h3 {
    margin: 2rem 0 1.2rem;
    font-size: calc(var(--base-font-size) * 1.5);
}

h4 {
    margin: 1.5rem 0 1.2rem;
    font-size: calc(var(--base-font-size) * 1.25);
}

ol,
p,
ul,
table,
li {
    color: #444;
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    margin: 0 0 0.8rem;
    line-height: calc(var(--base-font-size) * 1.5);
}

ul,
ol {
    padding: 0 0 0 1.4rem;
}

li {
    padding-left: 0.5rem;
    margin: 0.2rem 0;
}

p,
ul,
ol,
li {
    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }
}

ol li {
    list-style: decimal;
}

ul li {
    list-style: square;
}

section {
    margin: 2rem auto;
}


.block {
    max-width: 60rem;
    margin: 1rem auto;
    padding: 2rem 1rem;

    &:first-child {
        margin-top: 0;
    }
}

.title {
    background: #bdeaf5;

    .block {
        margin-top: 0;
        padding: 4rem 1rem;
    }

    h1 {
        margin-bottom: 1.5rem;
        font-weight: 300;
        font-size: 2rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    p {
        font-weight: 300;
        font-size: 1.5rem;
        line-height: 1.5em;

        strong {
            font-weight: 300;
        }
    }
}

.highlight {
    background: #f3f3f3;

    h2:first-child {
        margin-top: 0;
    }
}

.group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    > :only-child {
        width: 100%;
    }

    > :first-child:nth-last-child(2),
    > :first-child:nth-last-child(2) ~ div {
        width: calc(50% - 2rem);
    }

    > :first-child:nth-last-child(3),
    > :first-child:nth-last-child(3) ~ div {
        width: calc(33.33333333% - 2rem);
    }

    > :first-child:nth-last-child(4),
    > :first-child:nth-last-child(4) ~ div {
        width: calc(25% - 2rem);
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 400;
    }
}

.mfe {
    border: 1px solid #aaa;
    border-radius: 0.3rem;
    overflow: hidden;
}

.image {
    margin: 3rem 0;
    padding: 0 3rem;
}

img {
    display: block;
    height: auto;
    margin: 0 auto;
    max-width: 100%;

    &.left {
        float: left;
        margin: 0 1rem 1rem 0;
    }
}

a, a:link, a:visited {
    color: #444;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #000
}

table {
    border-collapse: collapse;

    td,
    th {
        font-size: var(--base-font-size);
        border: 1px solid #999;
        padding: 0.3rem 0.5rem;
    }
}

.page {
    height: 100vh;
    display: flex;
    overflow: hidden;
    flex-direction: column;
}

.wrapper {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}

main {
    flex: 1 1 auto;
    overflow-y: auto;

    font-family: var(--base-font-family);

    .wrapper {
        margin: 3rem auto;

        :first-child {
            margin-top: 0;
        }
    }
}

blockquote {
    margin: 2rem 4rem;
    color: #444;
    font-style: italic;
}

footer {
    flex: 0 1 auto;
    background: #D40E14;

    p {
        font-weight: bold;
        color: #fff;
        padding: 0.5rem 1rem;
        text-align: center;
    }
}


.breadcrumb {
    padding: 1rem;
    margin: 2rem auto 0;
}


// code blocks and inline code
code,
code[class*=language-] {
    font-family: 'PT Mono', monospace;
    background-color: #eee;
    // color: var(--color-text-base);
    border-radius: 3px;
    padding: 0.1rem 0.3rem;
    text-shadow: none;
    line-height: 1rem;
    font-size: 0.93rem;
}

pre {
    border: 1px solid #999;
    border-radius: 3px;
    background-color: #f5f2f0;
    padding: 1em;

    &[class*=language-] {
        margin: 1em 0;
    }

    code,
    code span,
    code[class*=language-] {
        font-family: 'PT Mono', monospace;
        background: none;
        padding: 0;
        font-size: 0.85rem;
    }
}

abbr {
    cursor: help;
}