// Fonts

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-100.woff2") format('woff2');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-100-italic.woff2") format('woff2');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-300.woff2") format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-300-italic.woff2") format('woff2');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-400.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-400-italic.woff2") format('woff2');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-500.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-500-italic.woff2") format('woff2');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-700.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: nunito;
    src: url("#{$font-url-base}/nunito-700-italic.woff2") format('woff2');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}